@import './segoe-ui-web.css';
@import './icon-typeface.css';
@import './pickr-custom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.border-theme {
  @apply border-slate-300 dark:border-neutral-500;
}

.border-theme-light {
  @apply border-slate-200 dark:border-neutral-600;
}

.hover-theme-neutral {
  @apply hover:bg-slate-100 hover:dark:bg-neutral-700;
}

.bg-shimmer {
  @apply bg-slate-100 dark:bg-neutral-700 animate-pulse;
}

.text-shimmer {
  @apply text-slate-100 dark:text-neutral-700 animate-pulse;
}

input.no-focus {
  @apply border-none ring ring-0 focus:ring-0 focus-visible:ring-0 focus:outline-none focus-visible:outline-none;
}

.app-workbench {
  @apply flex flex-col w-[500px] border-l border-theme h-full transition-all;
}

.inset-button-theme {
  @apply cursor-pointer text-neutral-300 dark:text-neutral-500 hover:text-neutral-400 hover:dark:text-neutral-400 transition-colors;
}

.font-icon {
  font-family: 'Geo';
}

.link {
  @apply text-sky-500 dark:text-sky-400;
}

.app-theme-set {
  @apply absolute inset-0 flex items-center p-3;
  transition-property: all;
  transform-origin: bottom;
  transition-duration: 500ms;
}

.app-theme-set.off {
  transform: translateY(100%) scale(0);
}

.alpha-checkers {
  background-image: linear-gradient(45deg, #cbd5e1 25%, transparent 25%),
    linear-gradient(-45deg, #cbd5e1 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #cbd5e1 75%),
    linear-gradient(-45deg, transparent 75%, #cbd5e1 75%);
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}

.dark .alpha-checkers {
  background-image: linear-gradient(45deg, #737373 25%, transparent 25%),
    linear-gradient(-45deg, #737373 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #737373 75%),
    linear-gradient(-45deg, transparent 75%, #737373 75%);
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}

[x-cloak] {
  @apply opacity-0;
}
